body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-image {
     width: 400px;
    height: 150px;
    margin-left: 50px;
    margin-top: 50px;
}

video {
  height: auto;
  width: 100%;
}

.navbar-div {
  display:inline-block;
  vertical-align:middle;
}
.navbar {
  text-align: right;
  margin-left: 400px;
}

.navbar li {
  display: inline-block;
  padding: 30px;
}

.nav-bar-link {
  color: black;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.nav-bar-link:hover {
  color: #4e6672;
  font-style: italic;
  font-weight: bold;
}

.nav-bar-button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 0px 17px;
  border-radius: 50px;
  background-color: #2222220d;
  color: #222;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-right: 60px;
}

.nav-bar-button:hover {
  background-color: #2222221a;
}

.home-content {
 position: absolute;
 margin-left: 50px;
 height: 1000px;
 top: 0%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: white;
 font-size: 70px;
 font-style: italic;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 letter-spacing: 7px;
 cursor: pointer;
 text-transform: uppercase;
 background: linear-gradient(
    to right, 
    hsl(0,0%,100%) 0, 
    hsl(188, 56%, 11%) 10%, 
    hsl(0,0%,100%)  20%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: shine 4s infinite linear;
padding: 60px;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 900px;
  }
  100% {
    background-position: 900px;
  }
}

.shoplist-header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 5px;
  font-size: 60px;
  text-align: center;
}

.search-box {
  width: 100%;
  text-align: center;
}

.search-input {
  text-align: center;
  width: 500px;
  height: 50px;
  margin-right: 20px;
  border-radius: 10%;
  font-size: 30px;
}

.cards {
  margin-top: 80px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.cards > div {
  flex-basis: calc(25% - 40px);
}

.card {
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  max-height: 50vh;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
  box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
  margin: 20px;

} 

.card:hover {
  box-shadow: 10px 5px 20px 20px #181818;
  cursor: pointer;
}
.card:hover .button-primary {
  transform: translate(10px, 0);
}
.card-image {
  height: 225px;
  width: 450px;
}
.card-name {
  text-decoration-line: none;
  text-transform: uppercase;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  margin-inline: 20px;
  color: #181818;
}

.card-location {
  text-align: center;
  color:#5d5959;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.price-rating-grid-box1, .price-rating-grid-box2, .price-rating-grid-box3, .price-rating-grid-box4{
  background-color: rgb(199, 219, 226);
  font-family: sans-serif;
  overflow: hidden;
  height: 30px; 
  
}

.price-rating-grid-box1, .price-rating-grid-box2 {
  color: #006ae3;
  font-size: 30px;
  border-radius: 10px 10px 0px 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
}

.price-rating-grid-box3, .price-rating-grid-box4 {
  color: #3d3838;
  font-style: italic;
  border-radius: 0px 0px 10px 10px;
}

.price-rating-grid {
  margin: 30px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.price-rating-grid
 > div {
  flex-basis: calc(50%);
  text-align: center;
}

a {
  text-decoration: none;
}

.shop-detail-box, .form {
   width: 70%;
   display: block;
   margin: 0 auto;
   padding: 20px;
   background-color: #f6eded;
   text-align: center;
   -webkit-box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
   box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
}

.shop-image {
  width: 800px;
  height: 300px;
  padding: 20px;
}
.details {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  margin-inline: px;
  color: #39393b;
}

.shop-link {
  color: #ffc728;
}

.form-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.form label {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 0 0 1vh 0;
  font-weight: bold;
}

.form input, .form select, .form button {
    display:inline-block;
    width: 50%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

.form {
  align-items: center;
  justify-content: center;
}

.form button {
  background-color: #9fc8dd;
}